- name: Proxmox API connectivity test
  hosts: proxmox_api 
  gather_facts: false
  #connection: local

  tasks:
    - name: Query Proxmox version
      community.proxmox.proxmox_node_info:
        api_host: "{{ proxmox_api_host }}"
        api_user: "awx@pve"   #"{{ ansible_user }}"
        api_token_id: "awx-token" #"{{ ansible_user }}"
        api_token_secret: "{{ ansible_password }}"
        validate_certs: false
      register: proxmox_info

    - name: Show Proxmox info
      debug:
        var: proxmox_info
